#include "resource.h"
#include <afxres.h>
#include <commctrl.h>

#define PROP_WIDTH 100

ID_ICON ICON "noname.ico"

ID_DLG_INPUT DIALOG 0, 0, 200, 126
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
FONT 8, "Ebrima"
CAPTION "Add/Modify" {
	LTEXT "Name", ID_STATIC_NAME, 5, 5, 100, 10
	EDITTEXT ID_EDIT_NAME, 5, 15, 180, 10
	LTEXT "Link", ID_STATIC_LINK, 5, 28, 15, 25
	LTEXT "", ID_STATIC_TYPE, 20, 28, 150, 10
	EDITTEXT ID_EDIT_LINK, 5, 38, 180, 32, ES_MULTILINE
	LTEXT "Parameter (Optional)", ID_STATIC_PARAM, 5, 73, 80, 10
	EDITTEXT ID_EDIT_PARAM, 5, 83, 180, 21, ES_MULTILINE
	CONTROL "", ID_HOTKEY, HOTKEY_CLASS, WS_TABSTOP, 5, 109, 85, 12
	PUSHBUTTON "OK", ID_BUTTON_DLG_OK, 100, 109, 40, 12
	PUSHBUTTON "Cancel", ID_BUTTON_DLG_CANCEL, 145, 109, 40, 12
}